*{
    margin: 0px;
    padding: 0px;
}
html,
body {
    height: 100%;
    width: 100%;
}
body{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: snow;
    color: rgba(0,0,0,0.8);
    font-family: sans-serif;
    font-weight: 500;
    font-size: 13px;
    line-height: 18px;
}

a, a:visited{
    color:black;
    text-decoration:none;
    font-weight: 550;
    font-size: 13px;
}
.profile-link-name:hover{
    text-decoration: underline;
}
.date{
    color: rgba(0,0,0,0.5);
    font-weight: 500;
    font-size: 10px;
}

/* -------------------- header */
#main-header{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 54px;
    background-color:white;
    border-bottom: 1px solid rgb(219,219,219);
}
#link-logo-header{
    margin-top: 5px;
    margin-left: 10px;
    width: 103px;
    height: 29px;
}
#logo-header{
    width: 103px;
}

#search-bar{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0px 210px;
    
    background-color: snow;
    border: 1px solid rgb(219,219,219);
    border-radius: 5px;
    width: 200px;
    height: 50%;
}
#search-bar:hover{
    cursor: text;
}
#search-bar input{
    width: 200px;
    height: 90%;
    outline: none;
    background: none;
    border: none;
    margin-left: -21px;
    text-align: center;
}
#search-icon{
    margin-left: 5px;
    height: 60%;
}
#search-bar input:focus{
    padding-left: 25px;
    text-align: left;
}

#header-icons{
    display:flex;
    align-content: center;
    justify-content: center;
    width: 200px;
    height: 50%;

}
.header-icons-link{
    width: 20px;
    background:none;
    margin-right: 10%;
}
.header-icons-img, #header-user-profile-pic{
    height:90%;
}
/* ------------------------------*/

main{
    margin-top: 55px;
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: center;
}
@-moz-document url-prefix() {   /* essa parte serve somente     */
    main{                       /* pra corrigir um erro de      */
        margin-left: -100%;     /* formatação que acontecia     */
    }                           /* apenas no navegador firefox  */
}

/* -------------------- content */
#main-content{
    width: 900px;
    height: 550px;
    margin-top: 30px;
    display: flex;
    align-items: center;
}
/* post*/
#post{
    width: 550px;
    height: 550px;
}
.post-pic{
    width: 100%;
}

/* side-bar */
#side-bar{
    width: 348px;
    height: 550px;
    background-color: white;
    border: 1px solid rgb(219,219,219);
    border-radius: 1%;
    overflow: hidden;
}
/* side-bar-header */
#side-bar-header{
    display:flex;
    align-items: center;
    height: 54px;
    background: none;
    border-bottom: 1px solid rgb(219,219,219);
}
.profile-pic{
    height: 30px;
    border: 1px solid rgb(219,219,219);
    border-radius: 100%;
}
#side-bar-header .profile-pic{
    margin-left: 20px;
    margin-right: 17px;
}
#dot-icon{
    margin: 0px 5px;
    width: 7px;
}
#plus-icon{
    margin-left: 120px;
    width: 15px;
}
#plus-icon:hover{
    cursor: pointer;
}
/* side-bar-desscription-and-comments */
#post-description-and-comments-area{
    width: 328px;
    height: 298px;
    padding: 20px 10px;
    overflow-y: scroll;
    border-bottom: 5px solid white;
    display: flex;
    justify-content: center;
    scrollbar-width: none;
}
#post-description{
    padding-top: 5px;
    width: 70%;
    margin-left: 5%;
}
#post-description p a{
    margin-right: 5px;
}

#post-description-and-comments-area::-webkit-scrollbar {
    display: none;
}  /* infelizmente não consegui esconder a barra no firefox*/ 

/* side-bar-footer */
#side-bar-footer{
    height: 140px;
    border-top: 1px solid rgb(219,219,219);
}
#side-bar-footer-icons{
    display: flex;
    align-items: center;
    height: 35px;
}
#side-bar-footer-icons img{
    margin: 15px 7px;
    height: 70%;
    cursor: pointer;
}
#side-bar-footer-icons img:first-child{
    margin-left: 20px;
}
#side-bar-footer-icons img:last-child{
    margin-left: 155px;
    height: 55px
}
/* side-bar-footer likes area*/
#side-bar-footer-likes{
    padding: 10px 10px 0px 10px;
    display: flex;
    height: 35px;
}
#side-bar-footer-likes p{
    max-width: 160px;
    margin-left: 5px;
}
#side-bar-footer-likes .profile-pic{
    height: 20px;
    margin-left: 15px;
}
#side-bar-footer-likes .date{
    width: 100%;
}
/* side-bar-footer comment input area*/
#side-bar-footer-comment{
    border-top: 1px solid rgb(219,219,219);
    display: flex;
    align-items: center;
    width: 100%;
    height: 49px;
}
#comment-input{

    border: none;
    outline: none;
    background: none;
    margin-left: 20px;
    height:70%;
    width: 75%;
}
#side-bar-footer-comment p{
    color:rgb(183,225,253);
    cursor: pointer;
}
/* date of post*/
#date-of-post{
    margin-top: 2px;
    margin-left: 20px;
    cursor: pointer;
}

